body {
  background: #cecfe0;
  color: #3c3c3c;
  font-size: 20px;
  font-family: sans-serif;
}

*::selection {
  background: #b1b2c9;
}

nav {
  background: Tomato;
}

nav a:link {
  text-decoration: none;
  color: #3c3c3c;
}

nav a:visited {
  color: #3c3c3c;
}

nav a:hover {
  color: pink;
}

main p, main h1 {
  text-align: justify;
}

main img {
  max-width: 50%;
  border-radius: 50%;
}
